<div class="dashboard-container">
  @for (widget of config.widgets; track $index) {
  <div class="widget-item" [ngStyle]="getWidgetStyle(widget)">
    <div class="widget-header">
      <h3>{{ widget.title }}</h3>
    </div>
    <div class="widget-content">
      @switch (widget.type) { @case ('grid') {
      <app-grid-widget
        [options]="translateGridOptions(widget.options)"
      ></app-grid-widget>
      } @case ('text') {
      <app-text-widget
        [options]="translateTextOptions(widget.options)"
      ></app-text-widget>
      } }
    </div>
  </div>
  }
</div>
